@import "basic-mixins"

transDuration = .15s
transEasing = ease-in-out

liteGreen = rgba(46, 204, 113,1.0)
liteBlue = rgba(52, 152, 219,1.0)
litePurple = rgba(155, 89, 182,1.0)
liteRed = rgba(231, 76, 60,1.0)
liteOrange = rgba(230, 126, 34,1.0)
liteYellow = rgba(241, 196, 15,1.0)
sortaDark = rgba(52, 73, 94,1.0)

*, *:before, *:after
  box-sizing border-box
  transition width transDuration transEasing, color transDuration transEasing, background-color transDuration transEasing, border-color transDuration transEasing, border transDuration transEasing, opacity transDuration transEasing, outline transDuration transEasing, border transDuration transEasing

html
  font-size 100%
  line-height 1.5
  color sortaDark
  margin 0
  &.wf-active
  &.wf-inactive
    color sortaDark
  
.column
  width: 90%
  margin-left auto
  margin-right auto

.container
  width 88%
  margin-left auto
  margin-right auto

body
  margin 0
  font-weight 300  

input
  font-family inherit

.btn
  font-family inherit
  display inline-block
  margin-bottom .25em .25em 0 0
  // font-weight 300
  font-size 1rem
  text-align center
  vertical-align middle
  cursor pointer
  background-image none
  background #ccc
  white-space nowrap
  padding .5em 1em
  border none
  border-radius .25rem
  color white
  &.btn-large
    font-size 1.25rem
    padding 1em 2em
  &.btn-small
    font-size .75rem
  &:hover
  &:focus 
    text-decoration: none
  &:active
  &.active
    outline: 0
    background-image: none
    box-shadow inset 0 .25em .5em rgba(0,0,0,.125) 
  &.disabled
  &[disabled]
    cursor not-allowed
    pointer-events none
    opacity .65
    box-shadow none

.btn-block 
  display block
  width 100%
  padding-left 0
  padding-right 0

.btn-block + .btn-block
  margin-top .5em

input[type="submit"]
input[type="reset"]
input[type="button"]
  &.btn-block
    width: 100%

.bg-green
  background liteGreen
.bg-blue
  background liteBlue
.bg-purple
  background litePurple
.bg-red
  background liteRed
.bg-orange
  background liteOrange
.bg-yellow
  background liteYellow
.bg-dark
  background sortaDark
.text-green
  color liteGreen
.text-blue
  color liteBlue
.text-white
  color white
.text-dark
  color sortaDark

.modal-title
  margin 0
.modal-close
  position absolute
  right 1rem
  top 1rem
  font-size 2rem
  line-height 1.5rem
  cursor pointer
  font-weight bold
  font-family sans-serif
  color #ccc
  &:hover
    color sortaDark

.demo-indicator
  transition bottom .5s linear
  position fixed
  bottom -100%
  left 0
  background rgba(255,255,255,.67)
  box-shadow 0 -2px 2px rgba(0,0,0,.25)
  width 100%
  height 2.5rem
  color liteGreen
  font-size .75rem
  font-weight bold
  line-height 2.5rem
  p
    display inline-block
    margin 0 2rem
    &:before
      transition border .25s ease, background .25s ease
      content ""
      width 1rem
      height 1rem
      border-radius 1rem
      display inline-block
      line-height 2.5rem
      margin-right .5rem
      position relative
      top .25rem
      border .25rem solid liteGreen
      border-bottom-color transparent
      animation spin 1s linear infinite

.demo-active
  .demo-indicator
    bottom 0
    p:after
      content "running..."

.demo-complete
  .demo-indicator
    bottom 0
    p:after
      content "complete!"
    p:before
      border-bottom-color liteGreen
      background liteGreen
      animation none

// Styles for when highlight mode is active
.plotter-highlight-mode 
  body
    background #eee
  circle:not(.highlighted-dot)
    fill rgba(0,0,0,.25)
    &:hover
      transform scale(1)
  .pos-input:not(:checked) + .check-label
  .yr-input:not(:checked) + .check-label
    border 1px solid sortaDark
    background-color transparent
    color sortaDark
    pointer-events none
  .pos-input:checked
  .yr-input:checked
    & + .check-label
      background #fff
      &.blue-label
        color liteBlue
        border-color liteBlue
      &.purple-label
        color litePurple
        border-color litePurple
      &.red-label
        color liteRed
        border-color liteRed
      &.orange-label
        color liteOrange
        border-color liteOrange
      &.yellow-label
        color liteYellow
        border-color liteYellow
      &.green-label
        color liteGreen
        border-color liteGreen
      &.dark-label
        color sortaDark
        border-color sortaDark
      &::after
        border-color transparent
    
flat-label(color)
  background-color color
  border 1px solid transparent
  &::after
    border-color color
  &.highlighted
    background-color color !important
    color #fff !important
    &::after
      border-color color !important
      
inline-row(children)
  font-size 0
  > *
    font-size 1rem
    display inline-block
    width (100% / children)

.pos-input, .yr-input
  position absolute
  left -500rem
  &:focus + .check-label::after
    opacity .6
  &:checked + .check-label
  &:checked + .check-label::after
    opacity 1
  

.check-label
  width 75%
  display block
  padding 1em
  border-radius .125em
  position relative
  color white
  opacity .6
  margin 0 auto 1em auto
  text-align center
  cursor pointer
  &::before
    content ""
    width 1em
    height 1em
    position absolute
    right -2em
    border 1px solid sortaDark
    background transparent
  &::after
    content ""
    width 1em
    height 1.5em
    position absolute
    right -2em
    top .5em
    border .5em solid
    border-left none
    border-top none
    transform rotate(45deg)
    opacity 0
  &:hover::after
    opacity .6

.blue-label
  flat-label liteBlue

.purple-label
  flat-label litePurple

.red-label
  flat-label liteRed

.orange-label
  flat-label liteOrange

.yellow-label
  flat-label liteYellow

.green-label
  flat-label liteGreen

.dark-label
  flat-label sortaDark
  
.control-row
  font-size 0
  > *
    font-size 1rem
.control-col
  display inline-block
  vertical-align top
  width 45%
  &:first-of-type
    margin-right 10%
.chzn-container
  box-sizing content-box
  display block !important
  width 15rem !important
  max-width 75% !important
  margin 0 auto 1rem auto
  *
    box-sizing content-box
  .chzn-drop
    transition all 0s ease
    *
      transition all 0s ease

#avg-total-pair-holder        
#pos-player-pair-holder
  margin 0 auto 1rem auto
  font-size 0
  label
    font-size 1rem

#avg-total-pair-holder 
  width 50%
  
#pos-player-pair-holder
  width 75%

.radio-pair
  position absolute
  left -500rem
  & + label
    color sortaDark
    background-color #fff
    width 50%
    text-align center
    display inline-block
    cursor pointer
    padding 1rem
    border 1px solid sortaDark
    &:first-of-type
      border-right none
      border-radius .25rem 0 0 .25rem
    &:last-of-type
      border-radius 0 .25rem .25rem 0
  &:checked + label
    background-color sortaDark
    color liteGreen
    opacity 1
    cursor default
  &:not(:checked) + label:hover
    background-color rgba(44,62,80,.06)

.var-label
  display block
  text-align center
  margin-bottom .5rem

/*
.btn
  cursor pointer
  border-radius .125rem
  padding 1rem
  background-color #eee
  border none
  font-family inherit
  // font-weight 300
*/

#clear-player-select
#render-button
#highlight-button
  display block
  width 50%
  margin 0 auto 1rem auto
  font-size 1rem
  box-sizing content-box
  padding-left 0
  padding-right 0

lightenAmount = 15%

#clear-player-select
  width 100%

/*
#render-button
  background-color liteGreen
  color sortaDark
  border-left 0px solid liteGreen
  border-right 0px solid liteGreen
  &:hover
    border-left .5rem solid liteGreen
    border-right .5rem solid liteGreen
    // outline 1px solid rgba(52, 73, 94,1)
    // background-color desaturate(lighten(liteGreen, lightenAmount), lightenAmount * .5)
    // color desaturate(lighten(sortaDark, lightenAmount), lightenAmount * .5)
  &:active
    background-color rgba(39, 174, 96,1.0)
    border-color rgba(39, 174, 96,1.0)
    color rgba(44, 62, 80,1.0)

#clear-player-select
#highlight-button
  background-color sortaDark
  color liteGreen
  border-left 0px solid sortaDark
  border-right 0px solid sortaDark
  &:hover
    border-left .5rem solid sortaDark
    border-right .5rem solid sortaDark
    // background-color desaturate(lighten(sortaDark, lightenAmount), lightenAmount * .5)
    // color desaturate(lighten(liteGreen, lightenAmount), lightenAmount * .5)
  &:active
    background-color rgba(44, 62, 80,1.0) 
    border-color rgba(44, 62, 80,1.0) 
    color rgba(39, 174, 96,1.0)
*/

// http://demosthenes.info/blog/744/Make-SVG-Responsive
#scatterplot-wrapper
  position relative
  margin 0 auto 4rem
  width 80%
  svg
    position relative
    text
      font-size .75rem
    path.domain
      fill none
      fill-color none
      stroke black
      stroke-width 2px
  circle
    cursor pointer
    transform-origin center center
    transition all .2s ease
    &:hover
      transform scale(1.5)
      stroke #666
      stroke-width 1px

.plotter-highlight-mode circle:not(.highlighted-dot)
  cursor default
  transform scale(.5)
  pointer-events none
  &:hover
    transform scale(.5)
    stroke-width 0


#hover-data
  cursor move
  cursor -webkit-grab
  cursor -moz-grab
  cursor grab
  display none
  font-size .5rem
  font-weight bold
  position absolute
  width 14rem
  padding 0 1rem
  border-radius .25rem
  background rgba(255,255,255,.75)
  border .125rem solid rgba(0,0,0,.25)
  &:active
    cursor -webkit-grabbing
    cursor -moz-grabbing
    cursor grabbing
    
@media screen and (min-width:  37.500em)
  html
    font-size: 112.5%
  .column
    width 80%
  .container
    width 85%

@media screen and (min-width:  50.000em)
	html
	  font-size 125%
  .column
    width 70%

@media screen and (min-width:  64.375em)
	html
	  font-size 137.5%
  .column
    width 65%

@media screen and (max-width:  50em)
  .control-col:nth-of-type(n)
    width 100%
    margin-left auto
    margin-right auto

.text-center
  text-align center

.bold
  font-weight bold

.italic
  font-style italic

h1
  font-size 2.5rem

h2
  font-size 2rem
  font-weight 100
  // margin-top 2rem
  // margin-bottom 1rem
  // border-bottom 1px solid #ccc

.long-li-list
  list-style none
  margin 2rem 0 2rem 2rem
  > li
    margin-top 1rem
    margin-bottom 1rem
    padding-top 1rem
    border-bottom 1px solid #ccc
    &:last-of-type
      border-bottom none
p 
  a 
    color darken(liteGreen, 20%)
    &:hover
      color sortaDark

.instructions
  text-align center

.copyright
  text-align center
  font-size 12px

/*
@media screen and (min-width:  75.000em) and (min-height: 31.250em)
	html
	  font-size 150%

@media screen and (min-width:  103.125em) and (min-height: 50.000em)
  html
	  font-size 162.5%
*/

.information
  font-weight bold
  text-align center
  span:first-of-type
    padding-right 2rem

.faux-click
  width 1.25rem
  height 1.25rem
  background rgba(0,0,0,.3)
  border .125rem solid rgba(0,0,0,.4)
  border-radius 2rem
  position absolute
  transform-origin center center
  animation faux-click ease-in-out .75s forwards
  z-index 10000

@keyframes faux-click
  0%
    opacity 0
  5%
    opacity 1
    transform scale(1)
  20%
    transform scale(.5)
  40%
    transform scale(1)
  80%
    opacity 1
    transform scale(1)
  100%
    opacity 0
    transform scale(1.5)
  
@keyframes spin
  from
    transform rotate(0deg)
  to
    transform rotate(360deg)


// Adapted from Bootstrap modal styles
.modal-open
  overflow hidden

.modal
  display none
  overflow auto
  overflow-y scroll
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 10040
  &.fade
    .modal-dialog
      -webkit-transform translate(0, -25%)
      -ms-transform translate(0, -25%)
      transform translate(0, -25%)
      opacity 0
      -webkit-transition -webkit-transform .3s ease, opacity .3s ease
      -moz-transition -moz-transform .3s ease, opacity .3s ease
      -ms-transition -ms-transform .3s ease, opacity .3s ease
      -o-transition -o-transition .3s ease, opacity .3s ease
      transition transform .3s ease, opacity .3s ease
  &.in
    .modal-dialog
      opacity 1
      -webkit-transform translate(0, 0)
      -ms-transform translate(0, 0)
      transform translate(0, 0)

.modal-dialog
  position relative
  margin-left auto
  margin-right auto
  width auto
  padding 10px
  z-index 10050

.modal-content
  position relative
  background-color #ffffff
  border 1px solid #999999
  border 1px solid rgba(0, 0, 0, 0.2)
  border-radius 6px
  -webkit-box-shadow 0 3px 9px rgba(0, 0, 0, 0.5)
  box-shadow 0 3px 9px rgba(0, 0, 0, 0.5)
  background-clip padding-box
  outline none
  -webkit-box-shadow 0 5px 15px rgba(0, 0, 0, 0.5)
  box-shadow 0 5px 15px rgba(0, 0, 0, 0.5)

.modal-backdrop
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 10030
  background-color #000000
  &.fade
    opacity 0
    filter alpha(opacity=0)
  &.in
    opacity 0.5
    filter alpha(opacity=50)

.modal-header
  padding 1rem
  border-bottom 1px solid #e5e5e5
  min-height 1rem
  .close
    margin-top -2px

.modal-title
  margin 0
  line-height 1.5

.modal-body
  position relative
  margin 1rem

.modal-footer
  margin-top 1rem
  padding 1rem
  text-align right
  border-top 1px solid #e5e5e5
  &:after
    clear both
  .btn
    & + .btn
      margin-left .25rem
      margin-bottom 0
  .btn-group
    .btn
      & + .btn
        margin-left -1px
  .btn-block
    & + .btn-block
      margin-left 0

.modal-footer:before,
.modal-footer:after
  content " "
  display table

@media screen and (min-width: 768px)
  .modal-dialog
    width 37.5rem
    padding-top 2rem
    padding-bottom 2rem

