svg scircle {
  -webkit-transition: 0.2s ease -webkit-transform;
  -moz-transition: 0.2s ease -moz-transform;
  -ms-transition: 0.2s ease -ms-transform;
  -o-transition: 0.2s ease -o-transform;
  transition: 0.2s ease transform;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}
svg scircle:hover {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}
svg path.domain {
  fill: none;
  stroke: #000;
  strokecap: butt;
}
svg text {
  font-family: open-sans, "Open Sans", sans-serif;
}
