extends layout

block head
  link(rel="stylesheet", href="/stylesheets/chosen-relative.css")
  link(rel="stylesheet", href="/stylesheets/bootstrap-modal-relative.css")

block content
  #controls.column
    h1.text-center Plotter
    p.text-center.page-title Generate scatterplots of NFL player stats.
    p.information
      button#show-me.btn.bg-green Demo
      button#show-about.btn.bg-dark(data-toggle="modal", data-target="#about-modal") About
    // span.collapse.section-open
    //  span COLLAPSE
    //  | CONTROL GROUP
    div.control-row
      div#pp-controls.control-col
        p.instructions Choose a sort method.
        
        div#pos-player-pair-holder
          input.radio-pair#radio-positions(type='radio', name='pp-type', value='positions')
          label#positions-label.radio-left(for='radio-positions') Positions
          input.radio-pair#radio-players(type='radio', name='pp-type', value='players')
          label#players-label.radio-right(for='radio-players') Players

        div(data-input-group="players")
          select#player-select.chzn-select(data-placeholder='Type to select players...', multiple='multiple')
          button.btn#clear-player-select Clear selections.
          
        div(data-input-group="positions")
          input.pos-input#input-QB(type='checkbox', value='QB')
          label.check-label.blue-label(for='input-QB') Quarterbacks
          input.pos-input#input-RB(type='checkbox', value='RB')
          label.check-label.green-label(for='input-RB') Running Backs
          input.pos-input#input-TE(type='checkbox', value='TE')
          label.check-label.yellow-label(for='input-TE') Tight Ends
          input.pos-input#input-WR(type='checkbox', value='WR')
          label.check-label.orange-label(for='input-WR') Wide Receivers
          
      div#season-controls.control-col
        p.instructions(data-for="seasons") Choose some seasons.
        input.yr-input#input-2012(type="checkbox", value="2012")
        label.check-label.dark-label(for="input-2012") 2012
        input.yr-input#input-2011(type="checkbox", value="2011")
        label.check-label.dark-label(for="input-2011") 2011      
        input.yr-input#input-2010(type="checkbox", value="2010")
        label.check-label.dark-label(for="input-2010") 2010
        input.yr-input#input-2009(type="checkbox", value="2009")
        label.check-label.dark-label(for="input-2009") 2009
        input.yr-input#input-2008(type="checkbox", value="2008")
        label.check-label.dark-label(for="input-2008") 2008
        
    // span.collapse.section-open
    //  span COLLAPSE
    //  | CONTROL GROUP
    div.control-row
      p.instructions(data-for="xy-controls") Choose some variables.
      div#xy-controls.control-col
        div
          label.var-label x-Axis Variable
          select#x-select.variable(data-axis='xAxis', data-placeholder='Choose a stat...')
        div
          label.var-label y-Axis Variable
          select#y-select.variable(data-axis='yAxis', data-placeholder='Choose a stat...')
      div#rc-controls.control-col
        div
          label.var-label Dot Radius Variable
          select#r-select.variable(data-axis='rAxis', data-placeholder='Choose a stat...')
        div
          label.var-label Color Shade Variable
          select#c-select.variable(data-axis='cAxis', data-placeholder='Choose a stat...')
      p.text-center Choose a count method.
      
      div#avg-total-pair-holder
        input.radio-pair#season-stats(type='radio', name='stat-type', value='season')
        label#season-label.radio-left(for='season-stats') Season
        input.radio-pair#game-stats(type='radio', name='stat-type', value='game')
        label#game-label.radio-right(for='game-stats') Game Avg.
    div.control-row.render-wrapper
      .button-holder
        button.btn.btn-large.bg-green.text-dark#render-button Render
        button.btn.btn-large.bg-dark.text-green#highlight-button Highlight Mode
      // span.dismiss-errors Dismiss
      
      
  div.column#scatterplot-wrapper  

  div#hover-data.column.hover-data(draggable="true")
    span#player-name-year Drag and drop this.
    p#x-axis-data
      | (X-Axis)
      span#x-axis-data-name
      span#x-axis-data-value
    p#y-axis-data
      | (Y-Axis)
      span#y-axis-data-name
      span#y-axis-data-value
    p#r-axis-data
      | (Radius Size Stat)
      span#r-axis-data-name
      span#r-axis-data-value
    p#c-axis-data
      | (Color Shade Stat)
      span#c-axis-data-name  
      span#c-axis-data-value

  div.demo-indicator
    p Demo 
    button.btn.btn-small.bg-dark#stop-demo Stop demo
    button.btn.btn-small.bg-green(data-toggle="modal", data-target="#demo-1-modal") Demo Info

  aside.modal.fade
    .modal-dialog
      .modal-content
        header.modal-header
          h2.modal-title
            span.modal-subhead
          span.modal-close(data-dismiss="modal") &times;
        .modal-body
          p
        footer.modal-footer
          button.btn.bg-dark(dismiss-dismiss="modal") Close

  aside.modal.fade#demo-1-modal
    .modal-dialog
      .modal-content
        header.modal-header
          h2.modal-title Demo 1
            span.modal-subhead 2011 Quarterback Outliers
          span.modal-close(data-dismiss="modal") &times;
        .modal-body
          p Five different quarterbacks &mdash; Aaron Rodgers, Drew Brees, Tom Brady, Matt Stafford, and Cam Newton &mdash; had sensational 2011 seasons. They were so good, in fact, that many fantasy experts advocated a dramatic shift in draft strategy (this also occured to a lesser extent with tight ends). This demo shows that the 2011 stud QBs were the exception rather than the rule. In fact in 2011, the fifth best quarterback (Cam Newton) scored more points than the <em>top scoring</em> quarterback in any of the other years from 2008 - 2012.
        footer.modal-footer
          button.btn.bg-dark(data-dismiss="modal") Close

  aside.modal.fade#demo-2-modal
    .modal-dialog
      .modal-content
        header.modal-header
          h2.modal-title Demo 2
            span.modal-subhead Positional Value: RB vs. WR
          span.modal-close(data-dismiss="modal") &times;
        .modal-body
          p
        footer.modal-footer
          button.btn.bg-dark(dismiss-dismiss="modal") Close

  aside.modal.fade#about-modal
    .modal-dialog
      .modal-content
        header.modal-header
          h2.modal-title About
          span.modal-close(data-dismiss="modal") &times;
        .modal-body
          p 
            strong This tool is still in development and should not be considered a finished product. 
          h3 Purpose
          p Plotter is a tool that creates scatterplots of NFL player data. It was developed specifically with fantasy football in mind, to help visualize trends that occur over time at a positional level. For instance, graphing fantasy points against position rank for 2012 and 2008 shows that in general the <em>n</em>-th highest scoring running back contributed substantially more points over a season in 2008 than in 2012. These kinds of insights can–and should–inform draft strategy and roster construction.
          h3 Design
          p I based the visual style on a set of <a href="http://cssdeck.com/labs/flat-forms">flat form elements</a> I had previously developed. Colors are cribbed from <a href="http://flatuicolors.com">Flat UI Colors</a>. The typeface used here is CamingoDos Web, served by <a href="https://typekit.com/fonts">Typekit</a>.
          h3 Code
          p Plotter runs entirely on the client. The dataset is a single large JSON file, delivered to the client asynchronously.
          p The chart drawing function uses <a href="http://d3js.org/">d3.js</a>, a great data visualization library. Other libraries include: <a href="http://brehaut.net/code/color">Color.js</a> for color manipulation; <a href="http://harvesthq.github.io/chosen/">Chosen.js</a> with a <a href="https://github.com/nickb1080/chosen/blob/master/public/chosen.css">custom stylesheet</a> using relative units and a tiny data-URI font for icons; and of course <a href="http://jquery.com/">jQuery</a>.
          h3 Data
          p This dataset is collected from the <a href="http://www.pro-football-reference.com/years/2012/fantasy.htm">fantasy stats</a> provided by PFR. Currently it contains the top 60 players per season at each of the four offensive fantasy football positions. I Plan to continue to update it annually.
          h3 Future
          p I plan to continue tweaking and adding features for the forseeable future. The next addition will be a filtering slider to limit the number of player-seasons returned. 
        footer.modal-footer
          button.btn.bg-dark(data-dismiss="modal")

  select#original(style='display: none;')
    option
    optgroup(label='Passing')
      option(data-stat='PassComp') Pass Completions
      option(data-stat='PassAtt') Pass Attempts
      option(data-stat='PassYds') Pass Yards
      option(data-stat='PassTD') Pass TD
      option(data-stat='PassINT') Interceptions
    optgroup(label='Rushing')
      option(data-stat='RushAtt') Rush Attempts
      option(data-stat='RushYds') Rush Yards
      option(data-stat='RushTD') Rush TD
      option(data-stat='RushYPA') Yards per Rush
      optgroup(label='Receiving')
        option(data-stat='Recs') Receptions
        option(data-stat='RecYards') Receiving Yards
        option(data-stat='RecYPR') Yards per Reception
        option(data-stat='RecTD') Receiving Touchdowns
      optgroup(label='Total')
        option(data-stat='ScrimYds') Total Scrimmage Yards
        option(data-stat='TotalTD') Total Touchdowns
      optgroup(label='Fantasy')
        option(data-stat='FantPt') Fantasy Points
        option(data-stat='PosRank') Fantasy Position Rank
        option(data-stat='VBD') VBD Points
        option(data-stat='OvRank') VBD Rank
      optgroup(label='Misc.')
        option(data-stat='Season') Season
        option(data-stat='Age') Age
        option(data-stat='G') Games Played
        option(data-stat='GS') Games Started


block body-scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  script.
    window.jQuery || document.write('<script src="/javascripts/jquery-1.9.1.min.js"><\/script>')
  // script(src="js/bootstrap-transitions.js")
  script(src="js/bootstrap-modal.js")
  script(src="js/d3.min.js")
  script(src="js/chosen.jquery.min.js")
  script(src="js/color.js")
  script.
    var Color = net.brehaut.Color;
  script(src="js/plotter-module.js")
  script(src="js/plotter-demos.js")
  // script.
  //   if ($("html").is(".plotter-development")) {
  //     Plotter.demoStart(false);
  //   }